@import 'https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap';
@import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css";

body {
    font-family: rubik, sans-serif;
    font-size: 12px;
    color: #444444;
}

a {
    text-decoration: none;
}

/* preloader start */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8991d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.loader .box:nth-child(2) {
  animation-delay: 0.5s;
}

.getting-there {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.truck{
  
}
#main-content {
  display: none;
}
/* preloader end */

.homepage-navbar{
    background-color:#f8991d !important;
    border-radius: 0px 0px 20px 20px;
    position: relative;
}
.homepage-navbar .log-out{
  position: absolute;
  right: 8px;
}
.log-out i{
  font-weight: 600;
}

/* total order */
.total-order{
    background-color: black !important;
    padding: 5px;
    height: 160px;
    border-radius: 13px;
    color: aquamarine;
    border: 2px solid #f9f9fa;
}
.total-order .total-no{
    height: 40px;
    width: 90%;
    text-align: center;
   
}

.orders{
    height: 100vh;
}
.orders h3{
  text-decoration: underline;
}
.order-id{
  color: white;
}
.view-order{
  background: #000;
  padding: 15px 10px;

}
.orders .accept{
  background-color: rgb(255, 255, 255);
  padding: 5px 8px;
  border-radius: 15px;
  margin-right: 3px;
  font-size: larger;
  border: 3px solid green;
  color: green;
}
.orders .decline{
background-color: rgb(255, 255, 255);
padding: 5px 8px;
border-radius: 15px;
margin-right: 3px;
font-size: larger;
border: 3px solid red;
color: red;
}
@media (max-width:350px) {
  .orders .accept{
    background-color: rgb(255, 255, 255);
    padding: 5px 8px;
    border-radius: 20px;
    margin-right: 3px;
    font-size: larger;
    border: 3px solid green;
    color: green;
}
.orders .decline{
  background-color: rgb(255, 255, 255);
  padding: 10px 4px;
  border-radius: 20px;
  margin-right: 3px;
  font-size: larger;
  border: 3px solid red;
  color: red;
}
}
.footer{
    position: sticky;
    bottom: 0;
    right: 0;
}

.card-greeting{
    position: relative;
    background: #f8991d;
    overflow: hidden;
    border-radius: 1rem;
    color: hsl(0, 0%, 0%);
  }
  
  .card-greeting::before {
    content: "";
    width: 1000px;
    height: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    animation: rotating 2s infinite cubic-bezier(0.45, 0, 0.55, 1);
    transform-origin: center;
    background: conic-gradient(rgba(224, 176, 176, 0.6), transparent, transparent, rgba(205, 167, 167, 0.3), transparent, transparent, rgba(190, 137, 137, 0.6))
  }
  
  .card-greeting::after {
    content: "";
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    position: absolute;
    left: 4px;
    top: 4px;
    background: inherit;
    border-radius: .8rem;
    z-index: 1;
  }
  
  .card-content {
    position: relative;
    z-index: 10;
    text-align: center;
   padding-top: 10px;
  }
  
  @keyframes rotating {
    from {
      transform: translate(-500px, -500px) rotate(0deg);
    }
    to {
      transform: translate(-500px, -500px) rotate(360deg);
    }
  }
  
  
  .card-footer p span {
    color: rgba(255, 68, 0, 0.81);
    font-weight: 600;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-img{
    position:relative;
}
.edit-img{
    position: absolute;
    padding: 3px 6px;
    top:-35px;
    border-radius: 50%;
    background-color: rgba(245, 168, 54, 0.925);
}

/* home page card */
.my-auto{
  border-radius: 20px;
}

.neon__card {
  background: rgba(0, 0, 0, 0.692);
  color: #fff;
  box-shadow: inset 0 22px 56px -36px rgba(255, 255, 255, .5), 
  inset 0 4px 5px -4px rgba(255, 255, 255, 1), 
  inset 0 -31px 34px -32px rgba(96, 68, 144, .3), 
  inset 0 39px 50px -34px rgba(202, 172, 255, .3), 
  inset 0 2px 9px rgba(154, 146, 210, .3), 
  inset 0 1px 10px rgba(227, 222, 255, .2);;
  backdrop-filter: blur(100px);
  padding: 15px;
  border-radius: 1.5rem;
  text-align: center;
  border: 8px solid  rgb(255, 255, 255);

}

.neon__title {
  font-size: 20px;
  margin-bottom: .25rem;
}

.neon__button {
  box-shadow: inset 0 2px 7px -9px rgba(255, 255, 255, .5), 
  inset 0 1px 2px -1px rgba(255, 255, 255, 1), 
  inset 0 -20px 16px -32px rgba(96, 68, 144, .3), 
  inset 0 28px 25px -24px rgba(202, 172, 255, .3), 
  inset 0 1px 4px rgba(154, 146, 210, .3), 
  inset 0 1px 10px rgba(227, 222, 255, .2);;
  color: #fff;
  text-shadow: 0 0 8px rgba(161, 165, 247, .8);
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 1rem;
  font-size: 16px;
}


/* Card neon hover */
.neon__card:hover {
  box-shadow:  inset 0 19px 28px -18px rgba(255, 255, 255, .5), 
  inset 0 4px 6px -3px rgba(255, 255, 255, 1), 
  inset 0 -51px 44px -42px rgba(96, 68, 144, .3), 
  inset 0 59px 60px -32px rgba(202, 172, 255, .3), 
  inset 0 4px 16px rgba(154, 146, 210, .3), 
  inset 0 2px 25px rgba(227, 222, 255, .23);;
}

.neon__card:hover .neon__title,
.neon__card:hover .neon__description {
  text-shadow:  0 0 14px rgba(161, 165, 247, .8);
}

.neon__card, 
.neon__icon, 
.neon__title, 
.neon__description, 
.neon__button {
  transition: .3s;
}

/* order-details */

#order-details {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  margin-top: 0;
  color: #333;
}
.section {
  margin-bottom: 20px;
}
.section h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #555;
}
.section p {
  margin: 5px 0;
  font-size: 1em;
  color: #666;
}
.product-list {
  list-style-type: none;
  padding: 0;
}
.product-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.product-list li:last-child {
  border-bottom: none;
}
.payment-method {
  font-weight: bold;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.conformation{
  background: #000000;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.conformation >.b-1 button,
.b-2 button,
.b-3 button{
  padding: 10px;
  border-radius: 0px 10px 10px 10px;
  background: #3ed148;
  color: white;
  border: 2px solid rgb(243, 241, 241);
}

.start {
  border-radius: .25rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  padding-left: 25px;
  padding-right: 25px;
  color: #4e4343;
  clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  height: 40px;
  font-size: 0.7rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: .2s .1s;
  background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
  border: 0 solid;
  overflow: hidden;
}

.start:hover {
  cursor: pointer;
  transition: all .3s ease-in;
  padding-right: 30px;
  padding-left: 30px;
}
